.a {
    text-align: right;
    display: inline-block;
    width: 100px;
}

#resp1,#resp2,#resp3,#resp4,#json1,#xml1{
    text-align: center;
    width: 500px;
    height: 100px;
    background-color: aqua;
}
#resp2{
    background-color: aliceblue;
}
#resp3{
    background-color: beige;
}
#resp4{
    background-color: blueviolet;
}
#xml1{
    background-color: chartreuse;
}